# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Executables
*.exe
*.out
driver
# Build directories
build/
dist/
Progress_Album
# Python-specific files
*.pyc
__pycache__/

# C++-specific files
*.a
*.dll
*.lib

