# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Executables
*.exe
*.out
#driver
driver/cversion/driver
Talk/data/mini_speech_commands/
Talk/recorded/

# Build directories
build/
dist/
Progress_Album
2_D_platformer
*.zip
# Python-specific files
*.pyc
__pycache__/
*.ipynb
# C++-specific files
*.a
*.dll
*.lib

