# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Executables
*.exe
*.out
#driver
driver/cversion/driver

# Build directories
build/
dist/
Progress_Album
2_D_platformer
*.zip
# Python-specific files
*.pyc
__pycache__/

# C++-specific files
*.a
*.dll
*.lib

